.movie {
  position: relative;
  width: 451px;
  height: 279px;
  display: flex;
  margin-bottom: 37px;
  box-shadow: 0px 4px 12px 0px #00000026;
  border-radius: 15px;
  overflow: hidden;
}

.movie__poster-wrapper div:first-child,
.movie__poster-wrapper div:first-child img {
  height: inherit;
}

.movie__img {
  min-width: 183px;
  display: block;
  width: 183px;
  height: 279px;
}

.movie__description {
  padding: 10px 20px;
  overflow-y: hidden;
}

.description__title {
  max-width: 205px;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 7px;
}

.description__date {
  color: #827E7E;
  margin-bottom: 7px;
}

.description__genres {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 7px;
}

.genre {
  width: fit-content;
  height: 20px;
  line-height: 20px;
  color: #D9D9D9;
  background-color: #FAFAFA;
  border: 1px solid #D9D9D9;
  border-radius: 2px;
  padding: 0 4px;
  margin-right: 8px;
  margin-bottom: 5px;
}

.description__description {
  overflow-y: scroll;
  height: 110px;
  grid-area: descrip;
}

.description__rating {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border:2px solid;
  text-align: center;
  line-height: 30px;
}

.description__toRate {
  position: absolute;
  bottom: 15px;
  grid-area: stars;
}

.movie-info-sm {
  grid-area: info;
}

.movie__poster-wrapper {
  width: 183px;
  height: 100%;
}

@media (max-width: 840px) {
  .movie {
    width: 388px;
    height: 245px;
    padding: 10px 6px;
    border-radius: 0;
  }

  .movie__description {
    width: 100%;
    padding: 0;
    display: grid;
    gap: 5px 13px;
    grid-template-columns: 60px 1fr 239px;
    grid-template-rows: 91px 92px 1fr;
    grid-template-areas: 
      ". info info"
      "descrip descrip descrip"
      ". stars stars";
  }

  .movie__poster-wrapper {
    position: absolute;
    grid-area: poster;
    width: 60px;
    height: 91px;
  }

  .movie__img {
    min-width: 60px;
  }

  .description__title {
    max-width: 270px;
  }

  .description__title--smaller {
    font-size: 15px;
  }

  .description__toRate {
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
  }
}