html {
  width: 100vw;
  max-width: 100%;
}

html, ::after, ::before {
  box-sizing: border-box;
  height: 100%;
  font-family: 'Inter UI', 'Helvetica', sans-serif;
  font-size: 12px;
  line-height: 22px;
  color: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-size: inherit;
  line-height: inherit;
}

body {
  max-width: 1010px;
  margin: 21px auto;
  padding: 17px 36px;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 21px;
}

.main--loading {
  padding-top: 100px;
}

.tabs {
  width: fit-content;
  margin: 0 auto;
  padding: 0 10px;
  font-size: 14px;
}

@media (max-width: 840px) {
  .main {
    margin: 0 auto;
    padding: 16px 20px;
    justify-content: center;
  }
}
